@{
    ViewBag.Title = "Contact";
}
<h2 style="text-align:center;">@ViewBag.Title</h2>

<br />
<br/>
<br/>
<address style="text-align:center;">
    <strong>Developer: </strong>Madlen Stoicheva<br />
    <strong>Address: </strong> University of Plovdiv "Paisii Hilendarski"<br />
</address>

<address style="text-align:center;">
    <strong>E-mail:</strong>   <a href="mailto:Support@example.com">madlen.stoicheva@gmail.com</a><br />
</address>