@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<br />
<br/>
<br/>
<address>
    <strong>Developer: </strong>Madlen Stoicheva<br />
    <strong>Address</strong> University of Plovdiv "Paisii Hilendarski"<br />
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:Support@example.com">madlen.stoicheva@gmail.com</a><br />
</address>